@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'),
         url('../fonts/Gilroy-Medium.ttf') format('truetype'),
         url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gilroy-Medium.woff') format('woff'); 
    font-weight: 500;
    font-style: normal;
}

* {
    font-family: Gilroy;
}
.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#loader-logo {
    width: 100%;
    height: 30%;
    background-image: url(http://giraffe/wp-content/themes/giraffe/img/logo-loader.svg);
    background-size: auto 60% ;
    /* opacity: 50%; */
    background-position: center;
    background-repeat: no-repeat;
    animation: 3s changeOpacity ease infinite;
}
@keyframes changeOpacity {
    0%{
        opacity: 100%;
    }
    
    50%{
        opacity: 30%;
    }
    100% {
        opacity: 100%;
    }
}

.loader p {
    width: 100%;
    text-align: center;
    user-select: none;
}



body {
    margin: 0;
    display: flex;
    user-select: none;

    /* align-items: flex-end; */
    /* justify-content: end; */
}
::-webkit-scrollbar {
    width: 3px;
}

header{
    position: fixed;
    z-index: 190;
    top: 0;
    left: 0;
    width: 100%;
    height: 9vh;
    background-color: rgba(0, 0, 0, 0.74);
    /* box-shadow: 0px 2px 7px rgb(0, 0, 0); */

}
.logo {
    height: 7.6vh;
    margin: 0.7vh;
    margin-left: 2vw;
}

nav  {
    z-index: 300;
    padding: 0;
    display: grid;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.349);
    background-image: url(http://giraffe/wp-content/themes/giraffe/img/nav-background.png);
    background-size: auto 100%;
    position: fixed;
    left: 0;
    top:10vh;
    border-top-right-radius: 10px;
    grid-template-rows: repeat(7, 7vh);
    width: 25vw;
    color: white;
    border-bottom-right-radius: 10px;
    /* background-color: black; */
    
}
nav a {
    font-size: 1.7vh;
    text-decoration: none;
    color: white;
    border-right: 10px solid rgb(213 153 0);
    border-bottom: 1px solid white;
    border-left: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
nav a:not(:last-child){
    border-bottom: 1px solid white;
}
nav a:last-child{
    border-bottom-right-radius: 10px;
}
nav a:first-child{
    border-top-right-radius: 10px;
}

.onFocus {
    animation: 0.4s onFocus ease-in-out forwards;
}

@keyframes onFocus {
    from {
    font-size: 1.7vh;
    text-decoration: none;
    color: white;
    border-right: 10px solid rgb(213 153 0);
    border-bottom: 1px solid white;
    border-left: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    } 10%{
        border-bottom: none;
    width: 91%;
    }20%{
        width: 92%;
        }
    30%{
    background-color: rgb(213 153 0);
    width: 93%;
    }
    40%{
        width: 94%;
        }
    50%{
        width: 95%;
        }
        60%{
            width: 96%;
            }
    
    to {
    border-left: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: none;
    font-size: 1.7vh;
    text-decoration: none;
    color: white;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.349), 1px -2px 8px rgba(0, 0, 0, 0.349);
    border-right: 12px solid rgb(92 59 38);
    background-color: rgb(213 153 0);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 110;
    transform: scale(1.15);
    width: 96%;
    }
}
.preCheckBg {
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}
.preCheck {
    background-color: white;
    z-index: 1000;
    grid-auto-rows: 14vh;
    width: 90%;
    height: 75vh;
    position: fixed;
    /* overflow: hidden; */
    /* word-wrap: break-word; */
    top: 3vh;
    left: 2%;
    margin: 0;
    padding: 5px 10px;
}
.gridCheck {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-rows: 14vh;
    width: 90%;
    max-height: calc(70% - 20px);
    background-color: rgba(233, 233, 233, 0.514);
    margin: 0 auto;
    word-wrap: break-word;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 4px;
    border-radius: 7px;
    padding: 10px;
}
.preCheckInfo {
    text-align: center;
    padding: 5px 0;
    border-bottom: 2px solid black;
}
.preCheckInfo p {
    padding-right: 10px;
    margin-bottom: 3px;
    text-align: end;
}
.preCheckInfo p:last-child{
    font-size: 3.5vw;
    margin: 0;
}
.fa-chevron-circle-left {
    position: fixed;
    z-index: 2000;
    color: rgb(213 153 0);
    /* width: 50px; */
    font-size: 50px;
    top: calc(78vh - 15px);
    left: calc(50% - 29px);
}
.fa-chevron-circle-left::before{
    border: 4px solid white;
    background-color: white;
    border-radius: 50%;
}
.preCheckPosition {
    position: inherit;
    display: grid;
    grid-template-columns: 70% 15% 15%;
    /* align-self: center;
    justify-self: center; */
    height: 14vh;
    border-bottom: 1px solid black;
}
.preCheckPosition p,
.fa-trash-alt {
    margin: 0;
    padding: 5px;
    font-size: 3.5vw;
    align-self: center;
    justify-self: center;
}

.preCheckPosition p:first-child {
    width: calc(100% - 10px);
}

.deletePositionPreCheck {
    animation: 0.6s deleteLeft ease-in-out forwards;
}
@keyframes deleteLeft {
    from {
        left: 0;
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
     to {
        left: -120%;
        opacity: 0;
    }
}

.positionPreCheckUp {
    animation: 0.6s positionUp ease-in-out forwards;
}
@keyframes positionUp {
    from{
        top: 0;
    }
    30% {
        top: 0;
    }
    to {
        top: -100%;
    }
}

.preCheckPositionPrice {
    text-align: center;
    width: calc(100% - 10px);
    border-right: 1px solid black;
    border-left: 1px solid black;
}

main {
    width: 100%;
    margin-top: 8vh;
    padding-right: 10px;
}
section{
    margin: 0 auto;
    text-align: end;
    display: grid;
    width: 100%;
    grid-template-rows: 1fr;
}
section h2 {
    z-index: 200;
    color: Black;
    /* background-color: white; */
    padding: 4px;
    margin-right: 10px;
    position: sticky;
    top: 2vh;
}

.gridBlock {
    align-self: flex-end;
    margin: 1.5vh 0;
    /* margin-right: 10px; */
    /* margin-right: 0px; */
    position: relative;
    width: 70vw;
    height: 47vw;
    overflow: hidden;
    justify-self: end;
}
.noMargin {
    margin: 1vh 0;
    margin-right: 10px;
}
.block-bg {
    z-index: 20;
    position: absolute;
    top: 0px;
    left: -1px;
    background-image: url(http://giraffe/wp-content/themes/giraffe/img/backgound-of-position.png);
    background-size: 100% 100%;
    width: 102%;
    height: 102%;
}
.rotate {
    transform: rotateY(180deg);
}
.menu-image {
    position: absolute;
    top: 1px;
    left: 1px;
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
}
.price {
    margin: 0;
    z-index: 30;
    position: absolute;
    font-size: 4vw;
    color: white;
    text-align: center;
    line-height: 12vw;
    border: 1vw solid white;
    width: 12vw;
    height: 12vw;
    bottom: 1%;
    right: 0;
    border-radius: 50%;
    background-color: rgb(213 153 0);
}

.position-name {
    height: 28%;
    padding: 1%;
    /* padding-left: 5%; */
    font-size: 3vw;
    /* padding-left: 3%; */
    /* line-height: 10vw; */
    z-index: 9;
    width: 100%;
    /* text-align: end; */
    position: absolute;
    bottom: -2%;
    right: 0;
    transform:  rotateZ(2.3deg);
    color: white;
    /* background-color: rgba(255, 218, 55, 0.849); */
    background: linear-gradient(transparent, rgb(0, 0, 0) 65%, black);
}

.position-name p {
    /* bottom: 0; */
    /* margin-bottom: ; */
    padding-left: 10%;
    padding-right: 20%;
    text-align: center;
}

.showName {
    animation: 0.3s showName ease-out forwards;
}
@keyframes showName {
  0%{
    height: 28%;
    background: linear-gradient(transparent, rgb(0, 0, 0) 65%, black);

  }
    to{
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.274) 20%, rgb(0, 0, 0) 65%, black);
        height: 50%;
        transform: rotateZ(0deg);
    }
}

.hideName {
    animation: 0.3s hideName ease-out forwards;
}
@keyframes hideName {
    0% {
        height: 50%;
        transform: rotateZ(0deg);
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.274) 20%, rgb(0, 0, 0) 65%, black);

    }
    50% {
        height: 41%;
        transform: rotateZ(1.1deg);
    }
    100% {
        height: 28%;
        transform: rotateZ(2.3deg);
    background: linear-gradient(transparent, rgb(0, 0, 0) 65%, black);

    }
}
.hideName2 {
    animation: 0.3s hideName2 ease-out forwards;
}
@keyframes hideName2 {
    0% {
        height: 50%;
        transform: rotateZ(0deg);
    }
    50% {
        height: 41%;
        transform: rotateZ(-1.1deg);
    }
    100% {
        height: 28%;
        transform: rotateZ(-2.3deg);

    }
}
.tooMuch {
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
    overflow: hidden;
}
.position-name2 {
    /* text-align: start; */
    transform:  rotateZ(-2.3deg);
}
/* .position-name2 p {
    padding-left: 10%;
    padding-right: 20%;
    text-align: center;
} */

.bx-dish {
    /* display: none; */
    margin: 0;
    z-index: 22;
    position: absolute;
    font-size: 9vw;
    color: white;
    text-align: center;
    line-height: 12vw;
    border: 1vw solid transparent;
    width: 12vw;
    height: 12vw;
    bottom: 1%;
    right: 0%;
    border-radius: 50%;
    background-color: transparent;
}
.showCheckPosition {
    /* display: block; */
    animation: 0.4s showCheck ease-in forwards;
}
@keyframes showCheck {
    from {
    background-color: rgb(191, 228, 60);
    border: 1vw solid white;
    bottom: 1%;
    } 
    40% {
        bottom: 44%;
    }
    55% {
        bottom: 37%;
    }
    70% {
        bottom: 41%;
    }
    85% {
        bottom: 39%;

    }
    to {
    bottom: 40%;
    background-color: rgb(191, 228, 60);
    border: 1vw solid white;
    }
}
.hideCheckPosition {
    animation: 0.4s hideCheck ease-in-out forwards;

}
@keyframes hideCheck {
    from {
    bottom: 40%;
    background-color: rgb(191, 228, 60);
    border: 1vw solid white;
    }
    30%{
        bottom: 42%;
    background-color: rgb(191, 228, 60);
    border: 1vw solid white;
    }
    99%{
        bottom: 1%;
    background-color: rgb(191, 228, 60);
    border: 1vw solid white;
    }
    to {
    background-color: transparent;
    border: 1vw solid transparent;
    bottom: 1%;
    }
}
#basketForCheck {
    position: fixed;
    width: 23vw;
    height: 7vh;
    /* color: rgb(213 153 0); */
    text-align: center;
    line-height: 100%;
    font-size: 6vh;
    left: 0;
    top: 63vh;
    /* text-shadow: -2px 2px 7px rgb(0 0 0 / 15%); */

}
.trigger {
    animation: 0.3s trigger ease-in-out forwards;
}
@keyframes trigger {
    from {
        left: 0;
    }
    25% {
        left: -2vw;
    }
    50% {
        left: 2vw;
    }
    75% {
        left: -1vw;
    }
    to {
        left: 0;
    }
    
}

.bxs-dish {
    color: rgb(213 153 0);
    font-size: 6vh;
    /* width: 100%; */
    height: 100%;
    text-align: center;
    text-shadow: -2px 2px 7px rgb(0 0 0 / 15%);
}
#positionCounter {
    position: absolute;
    display: none;
    background-color: rgb(191, 228, 60);
    border: 2px solid white;
    font-size: 2.5vh;
    line-height: calc(4vh + 4px);
    text-align: center;
    color: white;
    border-radius: 50%;
    height: 4vh;
    width: 4vh;
    top: -10px;
    left: 55%;
}


.addPositionToBasket {
    position: fixed;
    animation: 0.5s addPosition ease-in forwards;
}
@keyframes addPosition {
    0% {
        width: 12vw;
        height: 12vw;
    background-color: rgb(191, 228, 60);

    } 90% {
        width: 3vh;
        height: 3vh;
        top: 65vh;
        left: 10vw;
        line-height: 3vh;
        font-size: 1.5vh;
    background-color: rgb(191, 228, 60);
    }
    to {
        width: 3vh;
        height: 3vh;
        top: 65vh;
        left: 10vw;
        line-height: 3vh;
        font-size: 1.5vh;
        color: transparent;
        background-color: transparent;
    }
}

.priceInfo {
    z-index: 2000;
    display: none;
    position: fixed;
    /* height: 30vh; */
    width: 60vw;
    bottom: 5vh;
    left: 20vw;
    background-color: rgba(255, 255, 255, 0.863);
    color: black;
    border-radius: 10px;

}
.fa-times {
    position: absolute;
    font-size: 20px;
    top: 5px;
    right: 5px;
}
.priceInfo p {
    font-size: 3vw;
    margin-right: 13px;
    padding: 3px;
}
.fa-info-circle {
    color: rgba(0, 0, 0, 0.445);
    z-index: 400;
    position: fixed;
    bottom: 8vh;
    left: 8vw;
    font-size: 8vw;
}
.priceInfoShow {
    display: block;
    animation: 0.4s showInfo ease forwards;
    color: transparent;
    background-color: transparent;
}
@keyframes showInfo {
    from {
        color: transparent;
    background-color: transparent;
    }
    to{
    background-color: rgba(255, 255, 255, 0.863);
    color: black;
    }
}
.priceInfoHide {
    animation: 0.4s hideInfo ease forwards;
}
@keyframes hideInfo {
    from {
       
    background-color: rgba(255, 255, 255, 0.863);
    color: black;
    }
    to{
        color: transparent;
        background-color: transparent;
    }
}